/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

       /* Style the list (remove margins and bullets, etc) */
    div.wAlert ul {
    margin-top: 50px;
  }
    /*-------------------Navigation Menu------------------*/
    nav ul li a{
        border: none;
        padding: .8rem 2rem;
        font-size: 1.3em;
        color: white;
    }
    /*-------------------Homepage Main-----------------*/


    /*-------------------Hero Image Animation-----------------*/
    .homeHeroImg{
        background-image: url("/FinalProject/images/alaminos1-1200px.jpg");
    }
    
    @keyframes slide{
        25%{
            background-image: url("/FinalProject/images/alaminos2-1200px.jpg");
        }
        50%{
            background-image: url("/FinalProject/images/alaminos3-1200px.jpg");
        }
        75%{
            background-image: url("/FinalProject/images/alaminos4-1200px.jpg");
        }
        100%{
            background-image: url("/FinalProject/images/alaminos1-1200px.jpg");
        }
    }
    /*---------------------------Home Advertisement----------------------------*/
    div.homeAdsContainer{
        display: flex;
        flex-flow: row;
    }
    
    section.homeAds{
        display: block;
    }

    div section.homeAds:nth-child(3){
        display: block;
    }
    .adsImg{
        max-width: 100%;
        padding: 2em;
    }
}