/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    
    /*-------------------Navigation Menu------------------*/
    nav{
        display: flex;
        justify-content: center;
    }

    nav button{
        display: none;
    }

    nav ul.hide{
        display: block;
    }
    nav ul{
        margin-left: 2%;
    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        border: none;
        padding: .8rem 1rem;
        font-size: 1em;
        color: white;
    }
    
    /*-------------------Homepage Main-----------------*/


    /*-------------------Hero Image Animation-----------------*/
    .homeHeroImg{
        background-image: url("/FinalProject/images/alaminos1-800px.jpg");
    }
    
    @keyframes slide{
        25%{
            background-image: url("/FinalProject/images/alaminos2-800px.jpg");
        }
        50%{
            background-image: url("/FinalProject/images/alaminos3-800px.jpg");
        }
        75%{
            background-image: url("/FinalProject/images/alaminos4-800px.jpg");
        }
        100%{
            background-image: url("/FinalProject/images/alaminos1-800px.jpg");
        }
    }
    /*---------------------------Home Advertisement----------------------------*/

    section.homeAds{
        display: flex;
        flex-direction: row;
    }

    .adsImg{
        max-width: 60%;
        padding: 2em;
    }

    div section.homeAds:nth-child(3){
        display: flex;
        flex-direction: row-reverse;
    }

    /*---------------------Contact Page--------------------------*/

    #acpMap{
        display: block;
    }

    .contactPageWrapper{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .contactPage{
        margin-top: 100px;
        padding:50px;
    }

    #contactPageHeading{
        font-size: 1.8em;
    }
    /*------------------------------Directory------------------------*/
.wrapper{
    width: 800px;
    margin: 50px auto;
}

.links{
    margin-bottom: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 3px;
}

.links ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.links ul li{
    margin: 0 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
    
}

.links ul li:hover, .links ul li.active{
    color: #4abd3e;
}



.view_main{
    background: #fff;
    border-radius: 3px;
    padding: 15px;
}



/*---------------Directory Grid view----------------*/
.grid-view{
    width: 100%;
}

.grid-view .view_item{
    border: 1px solid #e2efe1;
    width: 230px;
    padding: 1px solid #e2efe1;
    padding: 25px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.grid-view .view_item .vi_left{
    margin-bottom: 10px;
}

.grid-view .view_item .btn{
    margin: 0 auto;
}
}