/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    
    /*-------------------Navigation Menu------------------*/
    nav{
        display: flex;
        justify-content: center;
    }

    nav button{
        display: none;
    }

    nav ul.hide{
        display: block;
    }
    nav ul{
        margin-left: 2%;
    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        border: none;
        padding: .8rem 1rem;
        font-size: 1em;
        color: white;
    }
    
    /*-------------------Homepage Main-----------------*/


    /*-------------------Hero Image Animation-----------------*/
    .homeHeroImg{
        background-image: url("/FinalProject/images/alaminos1-800px.jpg");
    }
    
    @keyframes slide{
        25%{
            background-image: url("/FinalProject/images/alaminos2-800px.jpg");
        }
        50%{
            background-image: url("/FinalProject/images/alaminos3-800px.jpg");
        }
        75%{
            background-image: url("/FinalProject/images/alaminos4-800px.jpg");
        }
        100%{
            background-image: url("/FinalProject/images/alaminos1-800px.jpg");
        }
    }
    /*---------------------------Home Advertisement----------------------------*/
    /*
    section.homeAds{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        margin: 1rem;
      }
    
      .adsImg{
          max-width: 100%;
          margin-top: 40px;
      }
    
      section.homepageAds:nth-child(3) img {
        grid-column: 1;
      }
      
      section.homeAds:nth-child(3) div.adsInfo {
          grid-column: 2/3;
          grid-row: 1;
      }
    */
    section.homeAds{
        display: flex;
        flex-direction: row;
    }

    .adsImg{
        max-width: 60%;
        padding: 2em;
    }

    div section.homeAds:nth-child(3){
        display: flex;
        flex-direction: row-reverse;
    }
}