@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Teko:wght@500&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body{
    margin: 0;
}

/************************Header and Footer*************************/

header, footer{
    background-color: white;
    color: white;
    text-align: center;
    padding: 2px;
}

main{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Teko', sans-serif;
    color: #172A3A;
}

p, a, div{
    font-family: 'Bitter', serif;
    color: #172A3A;
}

#logo{
    
    max-width: 120px;
    
  }

  #siteName{
    font-size: 2em;
    margin-top: -8px;
    
    
}

#siteTagLine{
    margin-top: -20px;
    
}

/***************Navigation******************/

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav {
    background-color: #646D70;
    font-family: Verdana, sans-serif;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border: 1px solid rgba(0,0,0,0.3);
}

nav ul li.activeMenu a{
    background-color: #EFD6AC;
    color: black;
}

nav ul li a:hover{
    background-color: #172A3A;
    color: white;
}

nav ul.hide{
    display: none;
}

/*----------------------Homepage Main-----------------------*/
.homeHeroImg{
    background-size: cover;
    max-width: 1200px;
    height: 400px;
    background-image: url("/FinalProject/images/alaminos1-560px.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px auto;
    animation: slide 20s infinite;
    position: relative;
}

@keyframes slide{
    25%{
        background-image: url("/FinalProject/images/alaminos2-560px.jpg");
    }
    50%{
        background-image: url("/FinalProject/images/alaminos3-560px.jpg");
    }
    75%{
        background-image: url("/FinalProject/images/alaminos4-560px.jpg");
    }
    100%{
        background-image: url("/FinalProject/images/alaminos1-560px.jpg");
    }
}

.homeHeroContent{
    position:absolute;
    background-color: rgba(240, 240, 240, 0.8);;
    max-width: auto;
    top: 150px; 
}

#callToAction{
    font-size: 2.3em;
    margin-left: 1em;
    margin-right: 1em;
    
}
#joinBtn{
    padding: 1em;
    margin-left: 2.2em;
    margin-bottom: 1em;
}

.homeDescription{
    text-align: center;
    background-color: whitesmoke;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.homeDescription h2:nth-child(1){
    font-size: 2.5em;
}

section.homeDescription p:nth-child(2){
    margin-top: -20px;
}

.homeEvents{
    text-align: center;
    background-color: #EFD6AC;
    max-width: 400px;
    margin: auto;
}

#eventsH2{
    background-color: #183A37;
    color: white;
    padding: .5em;
}

/*---------------------------Home Advertisement----------------------------*/
.homeAds article{
    text-align: center;
    background-color: #EFD6AC;
    padding: 1em;
}
article h2:nth-child(1){
    color: #04151F;
}

article h3:nth-child(2){
    color: #04151F;
}

article p:nth-child(3){
    color: #04151F;
}


.homeAds article img{
    max-width: 400px;
}

/*---------------------------Home Contact----------------------------*/
.homeContact{
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeContactWrapper{
    margin: 10px auto;
    background-color: whitesmoke;
}

#homeContactHeading{
    font-size: 1.8em;
}

#locationIcon{
    max-width: 20px;
}

.socialIcons img{
    display: inline;
    max-width: 40px;
}





/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
