@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Teko:wght@500&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;   
}
body{
    margin: 0;
}

/************************Header and Footer*************************/

header{
    background-color: white;
    color: white;
    text-align: center;
    padding: 2px;
}

footer{
    background-color: #646D70;
    text-align: center;
    padding: 2px;
    color: white;
}

#byuilink, .footclass, #lastModif, #todaysDate{
    color: white;
}

main{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Teko', sans-serif;
    color: #172A3A;
}

p, a, div{
    font-family: 'Bitter', serif;
    color: #172A3A;
}

#logo{
    
    max-width: 120px;
    
  }

  #siteName{
    font-size: 2em;
    margin-top: -8px;
    
    
}

#siteTagLine{
    margin-top: -20px;
    
}

/***************Navigation******************/

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav {
    background-color: #646D70;
    font-family: Verdana, sans-serif;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border: 1px solid rgba(0,0,0,0.3);
}

nav ul li.activeMenu a{
    background-color: #EFD6AC;
    color: black;
}

nav ul li a:hover{
    background-color: #172A3A;
    color: white;
}

nav ul.hide{
    display: none;
}

/*----------------------Homepage Main-----------------------*/
.homeHeroImg{
    background-size: cover;
    max-width: 1200px;
    height: 400px;
    background-image: url("/FinalProject/images/alaminos1-560px.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px auto;
    animation: slide 20s infinite;
    position: relative;
}

@keyframes slide{
    25%{
        background-image: url("/FinalProject/images/alaminos2-560px.jpg");
    }
    50%{
        background-image: url("/FinalProject/images/alaminos3-560px.jpg");
    }
    75%{
        background-image: url("/FinalProject/images/alaminos4-560px.jpg");
    }
    100%{
        background-image: url("/FinalProject/images/alaminos1-560px.jpg");
    }
}

.homeHeroContent{
    position:absolute;
    background-color: rgba(240, 240, 240, 0.8);;
    max-width: auto;
    top: 150px; 
}

#callToAction{
    font-size: 2.3em;
    margin-left: 1em;
    margin-right: 1em;
    
}
#joinBtn:link, #joinBtn:visited{
    background-color: white;
    color: #172A3A;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 30px;
}

.homeDescription{
    text-align: center;
    background-color: whitesmoke;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.homeDescription h2:nth-child(1){
    font-size: 3em;
}

section.homeDescription p:nth-child(2){
    margin-top: -20px;
    font-size: 1.4em;
}

.homeEvents{
    text-align: center;
    background-color: #EFD6AC;
    max-width: 400px;
    margin: auto;
}

#eventsH2{
    background-color: #183A37;
    color: white;
    padding: .5em;
}

/*---------------------------Home Advertisement----------------------------*/
.homeAds{
    display: flex;
    text-align: center;
    background-color: #EFD6AC;
    padding: 2em;
    margin: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adsInfo h2:nth-child(1){
    color: #04151F;
    font-size: 2.5em;
}

.adsInfo h3:nth-child(2){
    color: #04151F;
}

.adsInfo p:nth-child(3){
    color: #04151F;
}


.adsImg{
    max-width: 100%;
}

/*---------------------------Home Contact----------------------------*/
.homeContact{
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeContactWrapper{
    margin: 10px auto;
    background-color: whitesmoke;
}

#homeContactHeading{
    font-size: 1.8em;
}

#locationIcon{
    max-width: 20px;
}

.socialIcons img{
    display: inline;
    max-width: 40px;
}

/*----------------------Contact Page-----------------------*/
.hero-div, .heroImg{
    position: relative;
    background-size: cover;
    margin: 5px auto;
    position: relative;
    box-shadow: 5px 5px 5px 5px #999;
}

.hero-image{
    max-width: 100%;
}

/*----------------------Contact Table-----------------------*/
form fieldset{
    padding:1.5em 1% 2.5em 1%;
}

form legend{
    margin: 0 1em;
    padding: 0 .5em;
    font-size: 2em;  
}

.legendTitle{
    text-align: left;
}

form label.formLabel, form div{
    display: block;
    padding-top: 1em;
    font-size: 1.5em;
    text-align: left;
}

form label.formLabel input, form label.formLabel select{
    -webkit-appearance: none;
    display: block;
    font-size: 1em;
    width: 100%;
    max-width: 25em;
}

form input.submitBtn {
    border: none;
    background-color:#C44900;
    color: white;
    border-radius: 2em;
    padding: 1rem .5em;
    margin: 2em 0 2em 2%;
    width: 90%;
    max-width: 10em;
}

form input.joinBtn {
    border: none;
    background-color:#C44900;
    color: white;
    border-radius: 2em;
    padding: 1rem .5em;
    margin: 2em 0 2em 2%;
    width: 90%;
    max-width: 10em;
}

form label.formLabel input:required {
    border-left: red solid 6px;
}

form label.formLabel input:required:valid{
    border-left: green solid 6px;
}

input.txtarea {
    width: 100%;
    height: 120px;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 1em;
  }
  
  .thankyou{
      height: 200px;
      margin-top: 20%;
      margin-bottom: 20%;
  }

  hr{
    box-shadow: 1px 1px 1px 1px #999;
  }

  .contactPageWrapper{
    background-color: whitesmoke
}
  

#acpMap{
    display: none;
}

iframe{
    margin-top: 70px;
}

/*--------------------Join Page------------------------*/

#pkg0{
    display: none;
}

#pkg1{
    display: none;
}

#pkg2{
    display: none;
}

#pkg3{
    display: none;
}

.joinDescription{
    background: whitesmoke;
    padding: 2em;
}

section.joinDescription h2:nth-child(1){
    font-size: 3em;
}

section.joinDescription p:nth-child(2){
    font-size: 1.4em;
}

/*---------------Directory List view----------------*/
.links ul{
    display: none;
}

.view_item img{
    width: 75px;
}

.list-view .view_item{
    border: 1px solid #e2efe1;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.list-view .view_item:last-child{
    margin-bottom: 0;
}

.list-view .view_item .vi_left{
    margin-right: 25px;
}

.view_item .btn{
    width: 125px;
    background: #4abd3e;
    color: #fff;
    border-radius: 3px;
    padding: 10px 5px;
    text-align: center;
    font-weight: 200;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.view_item .btn:hover{
    background: #3bd62b;
}

/*---------------------------City Page-----------------------*/

.cityDescription{
    background: whitesmoke;
    padding: 2em;
}

section.cityDescription h2:nth-child(1){
    font-size: 3em;
}

section.cityDescription p:nth-child(2){
    font-size: 1.4em;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
