@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Teko:wght@700&display=swap');

/*Header Style*/
header {
    background-color: #FCE181; 
    height: 150px;
    align-items: center;
  }

#janjeyphoto{
    max-width: 200px;
    float: right;
    margin-top: 60px;
    margin-right: 20px;
}

h1{
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 5em;
}

h2,h3,h4,h5,h6{
    text-align: left;
    font-family: 'Teko', sans-serif;
}

#currentdate{
    font-family: 'Glegoo', serif;
    text-align: center;
    
}
/*Body*/

body {
    background-color: #9D8D8F;
    max-width: 960px;
    margin: 0 auto;
    padding : 1em;
  }

/*Main*/
main{
    background-color: #9BDBF4;
    max-width: 920px;
    margin: 0 auto;
    padding: 0;
}

p, ul, li {
    font-family: 'Glegoo', serif;
}
/*Footer*/

.footclass{
    text-align: center;
    
}

footer{
    background-color: #FCE181;
    height: 80px;
    align-items: center;
}

#lastupdate, #lastmodified, p{
    font-family: 'Glegoo', serif;
    text-align: center;
   
}