@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Teko:wght@700&display=swap');

/*Header Style*/
header {
    border-style: groove;
    border-radius: 15px;;
    background-color: #FCE181; 
    height: 150px;
    align-items: center;
  }

#janjeyphoto{
    max-width: 150px;
    float: right;
    
}

h1{
    text-align: left;
    font-family: 'Teko', sans-serif;
    font-size: 3em;
    margin-left: 20px;
}

h2,h3,h4,h5,h6{
    text-align: left;
    font-family: 'Teko', sans-serif;
}
h2{
    border-bottom: 1px solid
}

#currentdate{
    font-family: 'Glegoo', serif;
    text-align: left; 
    margin-left: 20px;
}
/*Body*/
#content{
    background-color: #99DBF3;
}
body {
    background-color: #5A5560;
    max-width: 960px;
    margin: 0 auto;
    padding : 1em;
  }

/*Main*/
main{
    background-color: #99DBF3;
}

p, ul, li {
    font-family: 'Glegoo', serif;
}
/*Footer*/

.footclass{
    text-align: center;
    
}

footer{
    border-style: groove;
    border-radius: 15px;; 
    background-color: #FCE181;
    height: 120px;
    align-items: center;
}

#lastupdate, #lastmodified, p{
    font-family: 'Glegoo', serif;
    text-align: center;
   
}

@media only screen and (max-width: 550px) {
    h1{
        font-size: 2em;
    }
    #janjeyphoto
    {
        max-width: 70px;
    }p, ul, li {
        font-size: 1em; 
    }
  }