@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Teko:wght@700&display=swap');

/*Header Style*/
header {
    background-color: #FCE181; 
  }

#janjeyphoto{
    max-width: 200px;
    float: right;
    margin-top: 100px;
    margin-left: 20px;
}

h1{
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 5em;
}

/*Body*/

body {
    background-color: #9D8D8F;
    max-width: 960px;
    margin: 0 auto;
  }

/*Main*/

#hrId{
    width:100%;
}

main{
    background-color: #9BDBF4;
}

p, ul, li {
    font-family: 'Glegoo', serif;
}
/*Footer*/

.footclass{
    text-align: center;
}

footer, header{
    border-style: groove;
    background-color: #FCE181;
    grid-gap: 2em;
    height: 150px;
    align-items: center;
    margin: 0;
    padding: 0;
}