@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Teko:wght@700&display=swap');

/*Header Style*/
header {
    border-style: groove;
    background-color: #362417; 
    height: 150px;
  }

.janjeyphoto{
    max-width: 150px;
    margin-top: 10px;
    margin-left: 20px;
}

h1{
    
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    color: white;
}

h2,h3,h4,h5,h6{
    text-align: left;
    font-family: 'Teko', sans-serif;
    color: white;
}
#h2{
    border-bottom: 1px solid;
    margin-left: 20px;
}

#currentdate{
    font-family: 'Glegoo', serif;
    text-align: left; 
    margin-left: 20px;
}
/*Body*/
#content{
    background-color: #057EF0;
}
body {
    background-color: #5A5560;
    max-width: 960px;
    margin: 0 auto;
    padding : 1em;
  }

/*Main*/
main{
    background-color: #057EF0;
    max-width: 960px;
}

p, ul, li, a {
    font-family: 'Glegoo', serif;
    color: white;
}

li#lazy{
    list-style: none;
    margin-left: 5.5rem;
}
/*Footer*/

.footclass{
    text-align: center;
    
}

footer{
    border-style: groove;
    background-color: #362417;
    height: 120px;
    align-items: center;
}

#lastupdate, #lastmodified, p{
    font-family: 'Glegoo', serif;
    text-align: center; 
}



@media only screen and (max-width: 32.5em)
{
    .janjeyphoto{
        max-width: 75px;
    }
}