body{
    justify-content: center;
    margin: 0 auto;
}

header, footer{
background-color: #362417;
height: 150px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Teko', sans-serif;
}

a:nth-of-type(1){
    text-decoration: none;
    color: black;
}

a:nth-of-type(2){
    color: black;
    text-decoration: none;
}
a:nth-of-type(3){
    text-decoration: none;
    color: black;
}

a:hover:nth-of-type(1){
    color: blue;
}

a:hover:nth-of-type(2){
    color: blue;
}

a:hover:nth-of-type(3){
    color: blue;
}

p, ul, li, a {
    font-family: 'Glegoo', serif;
}

h1, #myName{
    color: white;
    text-align: center;
}
main{
    background-color: #057EF0;
}

section{
    border-style:solid;
    border-width: 1px;
    border-radius: 1em;
    background-color: whitesmoke;
    text-align: center;
}

section:nth-of-type(1){
    padding: 5px;
    background-color: whitesmoke;
    padding: 10px;
    margin: 20px;
}


section:nth-of-type(2){
    padding: 5px;
    background-color: whitesmoke;
    padding: 10px;
    margin: 20px;
}


section:nth-of-type(3){
    padding: 5px;
    background-color: whitesmoke;
    padding: 10px;
    margin: 20px;
}


img{
    max-width: 200px;
}

h2:nth-of-type(2){
    text-align: center;
}

h2:nth-of-type(3){
    text-align: center;
}

h2:nth-of-type(4){
    text-align: center;
}

footer{
    text-align: center;
}

#lastupdate, #lastmodified, .footclass, #byuilink, #plastupdated{
    font-family: 'Glegoo', serif;
    text-align: center;
    color: white;
   
}