@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Teko:wght@700&display=swap');

body{
    margin: 0 auto;
    text-align: center;
}

main{
    margin: auto;
    max-width: 1500px;
}

.cards {
    margin-left: auto;
    margin-right: auto;   
}

img{
    max-width: 90%;
    margin-bottom: 10px;
}

section{
    background-color: #172A3A;
    padding-top: .5rem;
    margin: 0 2rem 1rem 2rem;
}

h1{
    font-family: 'Teko', sans-serif;
    color: #172A3A;
}

h2{
    color:#F3F3F4;
    font-family: 'Teko', sans-serif;
}

p{
    color:#F3F3F4;
    font-family: 'Glegoo', serif;
}


footer {
    font-size: 1rem;
    color: white;
    background-color: #172A3A;
}

@media only screen and (min-width: 35rem){
    div.cards {
        min-width: 35rem;
        margin: 0 auto;
    }
    .cards{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 64rem){
    .cards{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    div.cards {
        min-width: 64rem;
    }
}

