/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    nav{
        display: flex;
        justify-content: center;
    }

    nav button{
        display: none;
    }

    nav ul.hide{
        display: block;
    }
    nav ul{
        margin-left: 2%;
    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        border: none;
        padding: .8rem 1rem;
        font-size: .7em;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 10% 1fr 1fr;
        grid-gap: 2em;
    }

    #townName{
        grid-column: 1/3;
        grid-row: 1;
        text-align: center;
    }

    .slider{
        width: 720px;
        height: 400px;
        grid-column: 1/3;
        grid-row: 2;
        position: relative;
    } 

    

    

/*end medium */ /*end medium */