
/*---------------------Body---------------------*/
body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}

div{
    box-shadow: 10px 10px 10px #628ca6;
    margin: 0 auto;
    width: 520px;
    margin-top: 10em; 
}

/*---------------------Table--------------------*/
table, th, td{
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    width: 460px;
  }

  th, td, caption{
      padding: 15px;
  }

  th{
      font-weight: 900;
      font-size: 1.4em;
      color: white;
      background-color: #628ca6;
  }

  caption{
      font-weight: bolder;
      font-size: 3em;
      background-color: #7FB9C2;
  }


  td{
       text-align: center;
  }

  
  tr:nth-child(even){
    background-color: #e7ffed;
}

  tr{
    background-color: #e7f0ed;
  }

  tfoot tr{
    background-color: #7FB9C2;
}

