/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    nav{
        display: flex;
        justify-content: center;
    }

    nav button{
        display: none;
    }

    nav ul.hide{
        display: block;
    }
    nav ul{
        margin-left: 2%;
    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        border: none;
        padding: .8rem 1rem;
        font-size: .7em;
    }

    .slider{
        background-size: auto;
    }
    
    .weatherSummary{
        top: 30px;
        left: 50px;
        padding: 20px 60px;
    }

    #townBorder{
        padding-right: 120px;
        margin-bottom: 3em;
    }

    #townName{
        margin-left: 100px;
    }

    #prestonInfo1{
        text-align: center;
    }
    
    #prestonInfo2{
        text-align: center; 
    }
    
    #prestonInfo3{
        text-align: center;
    }
    
    #prestonInfo4{
        text-align: center;
    }

    #logo{
        max-width: 140px;
    }

    .headerContent{
        text-align: center;
    }

    #townName{
        font-size: 2rem;
    }
}


/*end medium */ /*end medium */