/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    /*Header*/

    #logo{
        top: 5px;
        left: 46%;
      }
    
    #siteName{
        font-size: 2.4em;
        top: 58px;
        left: 38%;
    }
    
    #siteTagLine{
        left: 40%;
        top: 120px;
    }
    
    nav{
        line-height: 3rem;
    }
    nav button{
        display: none;
    }

    nav ul.hide{
        display: block;
    }
    
    nav ul li a {
        padding: .6rem 1rem;
        font-size: 1em;
    }

    #siteName{
        font-size: 3em;
    }

    /*----------------------------Main----------------------------*/
.wgImgContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr .5fr;
    grid-gap: 2em;
}

#wgImg1{
    grid-column: 1/2;
    grid-row: 1/2;
}

#wgImg2{
    grid-column: 2/3;
    grid-row: 1/2;
}

#wgImg3{
    grid-column: 3/4;
    grid-row: 1/2;
}

#wgImg4{
    grid-column: 1/2;
    grid-row: 2/3;
}

#wgImg5{
    grid-column: 2/3;
    grid-row: 2/3;
}

#wgImg6{
    grid-column: 3/4;
    grid-row: 2/3;
}

#wgImg7{
    grid-column: 1/2;
    grid-row: 3/4;
}

#wgImg8{
    grid-column: 2/3;
    grid-row: 3/4;
}

#wgImg9{
    grid-column: 3/4;
    grid-row: 3/4;
}

img{
    max-width: 100%;
}

    
} /*end large */