/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    
    /*Header*/

    #logo{
        top: 5px;
        left: 45%;
      }
    
    #siteName{
        font-size: 2.4em;
        top: 58px;
        left: 38%;
    }
    
    #siteTagLine{
        left: 36%;
        top: 110px;
    }
    
    nav{
        display: flex;
        justify-content: center;
    }

    nav button{
        display: none;
    }

    nav ul.hide{
        display: block;
    }
    nav ul{
        margin-left: 2%;
    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        border: none;
        padding: .8rem 1rem;
        font-size: .7em;
    }

    #logo{
        max-width: 140px;
    }

/*----------------------------Main----------------------------*/
main{
    display:grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content:center;
    align-items: center;
}


    
}


/*end medium */ /*end medium */