article {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    align-items: center;
    justify-items: center;
  }
  
h1 {
    font-size: 3em;
    font-family: sans-serif;
  }
  

article img{
    filter: blur(0px);
    transition: filter 0.5s;
  }
  
article img[data-src] {
    filter: blur(5px);
    }